.stepper {
    display: flex;

}

.step-one {
    width: 30%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;

}

.step-number {
    width: 50px;
    height: 50px;
    background-color: rgb(1, 1, 61);
    ;
    text-align: center;
    line-height: 30px;
    color: white;
    border-radius: 50px;
}

.form-names {
    display: flex;
    width: 100%;
}

.group-email {
    width: 100%;
}

.group-email .form-group {
    width: 50%;
}

.form-group {

    padding-right: 10px;
    display: flex;
    flex-direction: column;
}

input[type="text"],
input[type="time"],
input[type="email"],
input[type="date"],
input[type="number"] {
    padding: 6px 10px;
    border-radius: 4px;
    border: 1px solid grey;
    box-shadow: inset 0 1px 1px rgb(0 0 0 / 8%);
    border: 1px solid #ccc;
    border-radius: 4px;
}

select {
    padding: 6px 10px;
    border-radius: 4px;
    border: 1px solid grey;
}

p {
    padding-top: 10px;
}

.btn-c {
    padding: 12px 12px;
    border: none;
    background-color: rgb(1, 1, 61);
    ;
    margin-left: 10px;
    color: white;
}

.form-container {
    display: flex;
    width: 100%;
    color: white;
}

.form-group-header {
    padding: 6px;
    display: flex;
    flex-direction: column;
}



.form-group-header input[type="text"],
input[type="date"],
input[type="number"] {
    width: 80%;
    height: 1.5rem;
}

.btn {
    border: none;
    background-color: rgb(249, 65, 65) !important;
    padding: 12px 22px;
    margin-top: 15px;
    border-radius: 4px;
    color: white;
}

.SearchContainer {

    display: flex;
    width: 100%;
    min-height: 75vh !important;
    margin: 50px 0px;

}

.searchLeft {
    margin-top: 100px;
    width: 10%;
}

.searchRight {
    width: 90%;
}

.HotelCard {
    background-color: white;
    display: flex;
    margin-top: 100px;
    width: 70%;
    box-shadow: 1px 1px 1px 1px rgb(194, 193, 193);
    ;

}

.discription {
    color: sandybrown;
    font-size: 12px;
}

.Facility {
    display: flex;
    width: 80%;
    align-content: space-between;
}

.left {
    width: 50%;
    margin-left: 14px;
}

.right {
    width: 50%;
}

.hotelName {
    font-weight: bold;
    font-size: 18px;
}

.HotelCard img {
    width: 35%;
    border-top-right-radius: 70%;
}

.HotelDescription {
    width: 50%;
}

.HotelPrice {
    width: 15%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-left: 1px solid grey;
}

.HotelPrice p {
    font-size: 20px;
    font-weight: bold;
    color: black;
}

.HotelPrice span {
    background-color: rgb(180, 7, 7);
    padding: 8px 17px;
    border-radius: 4px;
    font-size: 13px;
    color: white;
    margin-top: 10px;
}

.HeaderDetails {
    background-repeat: no-repeat;
    background-size: cover
}

.textarea {
    width: 100px;
}

.ask {
    font-size: 14px;
    padding: 6px 0;
    color:#616161
}
.time-date input{
width: 8rem;
margin: 1rem 1rem 1rem 0;
}

.ClassRoom {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.form-step {
    width: 100%;
}

.selectRoom {
    margin-top: 20px;
    
    /* height: 30vh; */
}

.amount {
    font-size: 20px;
    padding: 10px;
    font-weight: bold;
    color: rgba(153, 15, 15, 0.5);
}

label {
    padding: 20px 0px;
}

.room {
    display: flex;
    flex-direction: column;
}

.fromDate {
    display: flex;
}

.address {
    display: flex;
    flex-direction: column;
}





.stepwizard-step p {
    margin-top: 10px;
}

.stepwizard-row {
    display: table-row;
}

.stepwizard {
    margin-top: 50px;
    display: table;
    width: 95%;
    margin: 0 2.5%;
    position: relative;
}

.stepwizard-step button[disabled] {
    opacity: 1 !important;
    filter: alpha(opacity=100) !important;
}

.stepwizard-row:before {
    top: 14px;
    bottom: 0;
    position: absolute;
    content: " ";
    width: 100%;
    height: 1px;
    background-color: #ccc;
}

.stepwizard-step {
    display: table-cell;
    text-align: center;
    position: relative;
}

.btn-circle {
    width: 30px;
    height: 30px;
    text-align: center;
    padding: 6px 0;
    font-size: 12px;
    line-height: 1.428571429;
    border-radius: 15px;
}

.intl-tel-input.allow-dropdown {
    width: 100% !important;
}

.animationblock {
    overflow: hidden;
    font-size: 2px;
    background: #006aa4;
    position: fixed;
    top: 0;
    z-index: 117;
    width: 100%;
    height: 100%;
}

#animatedpart {
    position: absolute;
    top: 35%;
    left: 50%;
    transform-style: preserve-3d;
}

.axis-switcher {
    animation: switch 6s steps(1) infinite;
}

@keyframes switch {
    16.66667% {
        transform: rotate(0.5turn);
    }

    33.33333% {
        transform: rotate3d(1, 0, 0, 90deg);
    }

    50% {
        transform: rotate3d(0, 0, 1, 90deg);
    }

    66.66667% {
        transform: rotate3d(1, 0, 0, 90deg) rotate(0.5turn);
    }

    83.33333% {
        transform: rotate3d(0, 0, 1, 90deg) rotate(0.5turn);
    }
}

.cube {
    transform: rotateX(-35deg) rotateY(45deg);
    color: #83af9b;
}

.cube__comp:first-child * {
    transform: rotateX(-90deg) translateZ(13.5em);
}

.cube__comp:first-child :before {
    top: -3.9375em;
    box-shadow: 0em 0em, 0em 9em, 9em 0em, 9em 9em, 18em 0em, 18em 9em;
}

.cube__comp:last-child {
    animation: r 1s cubic-bezier(0.68, -0.55, 0.265, 1.55) infinite;
}

.cube__face {
    backface-visibility: hidden;
    transform: rotateX(90deg) translateZ(13.5em);
}

.cube__face:before {
    position: absolute;
    left: -12.9375em;
    width: 7.875em;
    height: 7.875em;
    border-radius: 4px;
    top: -12.9375em;
    box-shadow: 0em 0em, 9em 0em, 18em 0em;
    background: #83af9b;
    content: '';
}

.cube__face:nth-child(1) {
    transform: rotateY(0deg) translateZ(13.5em);
}

.cube__face:nth-child(2) {
    transform: rotateY(90deg) translateZ(13.5em);
}

.cube__face:nth-child(3) {
    transform: rotateY(180deg) translateZ(13.5em);
}

.cube__face:nth-child(4) {
    transform: rotateY(270deg) translateZ(13.5em);
}

.cube__face:last-child:before {
    top: -12.9375em;
    box-shadow: 0em 0em, 0em 9em, 0em 18em, 9em 0em, 9em 9em, 9em 18em, 18em 0em, 18em 9em, 18em 18em;
}

@keyframes r {
    to {
        transform: rotateY(-90deg);
    }
}

.tours {
    color: orange;
    font-size: 2em;
}

.travels {
    color: #fff;
    font-size: 2em;
}

.commentofit {
    color: #fff;
    font-size: 25px;
}

.texttodisplay {
    text-align: center;
    position: absolute;
    width: 100%;
    top: 40%;
}

.texttodisplaypayme {
    text-align: center;
    width: 100%;
    background: #7acddf;
}

.form-container-card .field-container-card:first-of-type {
    grid-area: name;
}

.form-container-card .field-container-card:nth-of-type(2) {
    grid-area: number;
}

.form-container-card .field-container-card:nth-of-type(3) {
    grid-area: expiration;
}

.form-container-card .field-container-card:nth-of-type(4) {
    grid-area: security;
}

.field-container-card input {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.field-container-card {
    position: relative;
}

.form-container-card {
    display: grid;
    grid-column-gap: 10px;
    grid-template-columns: auto auto;
    grid-template-rows: 90px 90px 90px;
    grid-template-areas: "name name" "number number" "expiration security";
    /* max-width: 400px; */
    padding: 20px;
    color: #707070;
}

label {
    padding-bottom: 5px;
    font-size: 13px;
}

.field-container-card input {
    margin-top: 3px;
    padding: 6px;
    font-size: 16px;
    width: 100%;
    border-radius: 3px;
    border: 1px solid #dcdcdc;
}

.ccicon {
    height: 25px;
    position: absolute;
    right: 0px;
    top: calc(30% - 17px);
    width: 60px;
}

/* CREDIT CARD IMAGE STYLING */

.container-card {
    /* width: 100%; */
    /* max-width: 400px; */
    margin-top: 5%;
    max-height: 251px;
    height: 54vw;
    padding: 20px;
}

#ccsingle {
    position: absolute;
    right: 15px;
    top: 20px;
}

#ccsingle svg {
    width: 100px;
    max-height: 60px;
}

.creditcard svg#cardfront,
.creditcard svg#cardback {
    width: 100%;
    -webkit-box-shadow: 1px 5px 6px 0px black;
    box-shadow: 1px 5px 6px 0px black;
    border-radius: 22px;
}

#generatecard {
    cursor: pointer;
    float: right;
    font-size: 12px;
    color: #fff;
    padding: 2px 4px;
    background-color: #909090;
    border-radius: 4px;
    cursor: pointer;
    float: right;
}

/* CHANGEABLE CARD ELEMENTS */
.creditcard .lightcolor,
.creditcard .darkcolor {
    -webkit-transition: fill .5s;
    transition: fill .5s;
}

.creditcard .lightblue {
    fill: #03A9F4;
}

.creditcard .lightbluedark {
    fill: #0288D1;
}

.creditcard .red {
    fill: #ef5350;
}

.creditcard .reddark {
    fill: #d32f2f;
}

.creditcard .purple {
    fill: #ab47bc;
}

.creditcard .purpledark {
    fill: #7b1fa2;
}

.creditcard .cyan {
    fill: #26c6da;
}

.creditcard .cyandark {
    fill: #0097a7;
}

.creditcard .green {
    fill: #66bb6a;
}

.creditcard .greendark {
    fill: #388e3c;
}

.creditcard .lime {
    fill: #d4e157;
}

.creditcard .limedark {
    fill: #afb42b;
}

.creditcard .yellow {
    fill: #ffeb3b;
}

.creditcard .yellowdark {
    fill: #f9a825;
}

.creditcard .orange {
    fill: #ff9800;
}

.creditcard .orangedark {
    fill: #ef6c00;
}

.creditcard .grey {
    fill: #bdbdbd;
}

.creditcard .greydark {
    fill: #616161;
}

/* FRONT OF CARD */
#svgname {
    text-transform: uppercase;
}

#cardfront .st2 {
    fill: #FFFFFF;
}

#cardfront .st3 {
    font-weight: 600;
}

#cardfront .st4 {
    font-size: 54.7817px;
}

#cardfront .st5 {
    font-weight: 400;
}

#cardfront .st6 {
    font-size: 33.1112px;
}

#cardfront .st7 {
    opacity: 0.6;
    fill: #FFFFFF;
}

#cardfront .st8 {
    font-size: 24px;
}

#cardfront .st9 {
    font-size: 36.5498px;
}

#cardfront .st10 {
    font-weight: 300;
}

#cardfront .st11 {
    font-size: 16.1716px;
}

#cardfront .st12 {
    fill: #4C4C4C;
}

/* BACK OF CARD */
#cardback .st0 {
    fill: none;
    stroke: #0F0F0F;
    stroke-miterlimit: 10;
}

#cardback .st2 {
    fill: #111111;
}

#cardback .st3 {
    fill: #F2F2F2;
}

#cardback .st4 {
    fill: #D8D2DB;
}

#cardback .st5 {
    fill: #C4C4C4;
}

#cardback .st6 {
    font-weight: 400;
}

#cardback .st7 {
    font-size: 27px;
}

#cardback .st8 {
    opacity: 0.6;
}

#cardback .st9 {
    fill: #FFFFFF;
}

#cardback .st10 {
    font-size: 24px;
}

#cardback .st11 {
    fill: #EAEAEA;
}

#cardback .st12 {
    font-family: 'Rock Salt', cursive;
}

#cardback .st13 {
    font-size: 37.769px;
}

/* FLIP ANIMATION */
.container-card {
    perspective: 1000px;
}

.creditcard {
    width: 100%;
    max-width: 400px;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    transition: -webkit-transform 0.6s;
    -webkit-transition: -webkit-transform 0.6s;
    transition: transform 0.6s;
    transition: transform 0.6s, -webkit-transform 0.6s;
    cursor: pointer;
}

.creditcard .front,
.creditcard .back {
    position: absolute;
    width: 100%;
    max-width: 400px;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-font-smoothing: antialiased;
    color: #47525d;
}

.creditcard .back {
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
}

.creditcard.flipped {
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
}


@media only screen and (max-width: 960px) {
    .form-container {
        flex-direction: column !important;
        text-align: left;
    }

    .form-group-header {
        padding: 0;

    }

    .form-group-header input[type="text"],
    input[type="date"],
    input[type="number"] {
        width: auto;
    }
    .ClassRoom,.selectRoom{
        width: 90%;
        margin-left: 1.5rem;
    }
    .form-names{
        display: flex;
        flex-direction: column;
    }
    .group-email .form-group{
        width: 100%;
    }
}